@font-face {
    font-family: 'coolvetica';
    src: url('/fonts/coolvetica.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Verdana, sans-serif;
}

body {
    font-family: Helvetica;
    background-image: url('/images/mountain-cave-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
.container {
    padding: 20px 20px 30px 20px;
    width: 340px;
    background-color: rgba(0, 59, 234, 0.074);
    backdrop-filter: blur(20px);
    border-top: 1px solid rgba(255, 255, 255, 0.094);
    border-left: 1px solid rgba(255, 255, 255, 0.094);
    box-shadow: 3px 3px 3px rgba(46, 46, 46, 0.094);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.container .app-title {
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
    color: #fff;
    font-size: 32px;
    margin-top: 7px;
}
.container .time-options {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.container .time-options button {
    all: unset;
    height: 40px;
    width: 85px;
    color: #fff;
    background: #1f8bca;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    float: left; /* Not sure about this one, keep it for now */ 
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.container .time-options button.active {
    background: #4bbaff;
}
.container .progress-bar {
    height: 220px;
    width: 220px;
    background: conic-gradient(#1561f8e1 360deg, #0a2569 0deg);
    border-radius: 100%;
    margin: auto;
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.95);
    }
     
}
.container .progress-bar-inner {
    height: 200px;
    width: 200px;
    background: #0a216e;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 40px;
}

.container .control-buttons {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.container .control-buttons button {
    all: unset;
    height: 40px;
    width: 100px;
    background: #1f8bca;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-left: 12px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
}

.container .control-buttons button:hover {
    background: #4bbaff;
    transition: background 0.35s ease-in;
}

.container .time-options button:hover {
    background: #4bbaff;
    transition: background 0.35s ease-in;
}

.container .control-buttons .stop-btn {
    display: none;
}

.container .control-buttons .reset-btn {
    position: absolute;
    right: 30px;
}